
.input-field {
    width: 244px;
    padding: 6px;
    margin:0;
    font-size: 18px;
    border-radius: 6px;

    border: 1px solid #555;
    background: #333;
    color: #fff;
}

.input-label {
    display: block;
    text-align: left;
    margin: 0 auto;
    width: 80%; /* Adjust this width as needed */
}